.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden; 
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #000000;
	background-color: #ffffff;
}

.container {
  	width: 940px;
  	margin: 0 auto;
  	padding: 0 10px;
}

.btn {
	display: block;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 3px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.top-menu {
	background-color: #293449;
	height: 42px;
}

.top-menu .container {
	display: flex;
	flex-wrap: wrap;
  	width: 940px;
  	margin: 0 auto;
  	padding: 0 10px;

}

.top-menu h2 {
	margin: 0;
	padding: 0;
}

.top-menu .logo {
	display: block;	
	box-sizing: border-box;
	width: 220px;
	height: 47px;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	color: #ffffff;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
	padding: 12px 55px 6px 56px;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

/* Форма поиска*/
.search-form {
	position: relative;
	box-sizing: border-box;
	position: relative;
	width: 270px;
	height: 42px;
	margin: 0 auto;
}
.find {
	width: 100%;
    padding: 12px 0 12px 49px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff;
    background-color: #293449;
    border: none;
    cursor: pointer;
}

.search-field {
    position: absolute;
    top: 12px;
    left: 17px;
    z-index: 20;
    width: 20px;
    height: 20px;
    cursor: pointer;	
	background: url(../img/icon-search-sprite.png) no-repeat 0 0;
	opacity: 0.3;
}

.find:hover + .search-field {	
	opacity: 1;
}

.find:focus + .search-field {
	background: url(../img/icon-search-sprite.png) no-repeat;	
	background-position: 0 -60px;
}

.find:hover {
	background-color: #212a3a;
}

.find:focus
 {
	color: #000000;
	background-color: #ffffff;
}

.find::-webkit-input-placeholder {
    color: #ffffff;
}

.shopping-items {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	width: 300px;
	height: 42px;
	margin: 0;
	padding: 0;
}

.cart,
.bookmark {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 150px;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
	vertical-align: middle;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 45px;
}

.bookmark::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-bookmark.svg);
	opacity: 0.3; 	
}

.cart::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-cart.svg);
	opacity: 0.3; 	
}

.cart:hover,
.bookmark:hover {
	background-color: #212a3a;
}


.cart:active,
.bookmark:active {
	background-color: #161d29;
	opacity: 0.6;
}

.cart:hover::before,
.bookmark:hover::before {
	opacity: 1;
}

.cart:active::before,
.bookmark:active::before {
	opacity: 0.5;
}

.order-btn {
	display: block;
	box-sizing: border-box;
	width: 150px;
	height: 42px;	
	background-color: #63a63e;
	font-size: 17px;
	line-height: 18px;
	vertical-align: middle;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	color: #ffffff;
}

.order-btn:hover,
.order-btn:focus {
	background-color: #5fbb2d;
}

.order-btn:active {
	background-color: #518534;
}

.middle-menu {
	background-color: #f3f7f8;
	padding-top: 45px;
}

.middle-menu .container {
	display: flex;
	justify-content: flex-end;

}

h1 {
	display: block;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 500;
	font-style: italic;
	color: #ee3643;
	max-width: 200px;
	margin-left: 55px;
	margin-right: 60px;
}

.contacts {
	display: flex;
	flex-direction: column;
}

.phone {
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 270px;
	height: 45px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;	
	border: 3px solid #ffffff;
	padding-left: 75px;
	padding-top: 12px;
}

.phone::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 19px;
	height: 19px;
	background-image: url(../img/icon-phone.svg); 
}

.adress {
	display: block;
	box-sizing: border-box;
	width: 270px;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	line-height: 24px;
	color: #32425c;
	margin-top: 10px;
}

.log-in {
	display: flex;
	margin-left: 70px;
}

.log-in-btn {
	position: relative;
	box-sizing: border-box;
	width: 122px;
	height: 45px;
	padding: 12px 25px 12px 50px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	margin-right: 10px;
}

.log-in-btn::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background: url(../img/icon-login.png) no-repeat;
}

.register-btn {
	box-sizing: border-box;
	width: 150px;
	height: 45px;
	padding: 12px 25px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	margin-bottom: 55px;
}

.log-in-btn:hover,
.log-in-btn:focus,
.register-btn:hover,
.register-btn:focus {
	color: #ee3643;
}

.log-in-btn:active,
.register-btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.log-in-btn:hover::before {
	background-position: 0px -60px;	
}


.nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	width: 100%;
	height: 55px;
	background-color: #32425c;
	padding: 0;
	margin-bottom: 60px;
	border-bottom: 5px solid #293449;

}

.nav-item {
	font-size: 17px;
	line-height: 17px;
}

.nav-item:hover,
.nav-item:focus {
	background-color: #293449;
}

.nav-item:active {
	background-color: #1d2739;
}

.nav-item a {
	display: block;
	padding: 20px 31px;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 17px;
	font-family: "Cuprum","Arial",sans-serif;
	text-decoration: none;
	color: #fff;
}

.features {
	display: flex;
	margin-top: 60px;
	margin-bottom: 38px;
}

.feature-item h3 {
	margin: 0;
	padding-top: 20px;
	padding-left: 22px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #ffffff; 
}

.feature-item a {
	display: block;
	box-sizing: border-box;
	width: 135px;
	height: 38px;
	margin-left: 25px;
	margin-top: 12px;
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	border-radius: 5px;
	text-transform: uppercase;
}

.feature-item {
	width: 300px;
	min-height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.materials {
	position: relative;
	background-color: #ffbf47;
}

.materials::before {
	content: "";
	position: absolute;
	right: 43px;
	top: 31px;
	width: 44px;
	height: 65px;
	background-image: url(../img/materials-icon.svg);
}

.flag-new {
	position: absolute;
	top: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.tools {
	position: relative;
	background-color: #3bbce3;
}

.tools::before {
	content: "";
	position: absolute;
	right: 28px;
	top: 32px;
	width: 75px;
	height: 61px;
	background-image: url(../img/tools-icon.svg);
}

.machinery {
	position: relative;
	background-color: #dc91d8;
}

.machinery::before {
	content: "";
	position: absolute;
	right: 30px;
	top: 30px;
	width: 78px;
	height: 62px;
	background: url(../img/machinery-icon.svg) no-repeat 0 0;
}

.discounts {
	position: relative;
	background-color: #8ed78f;
}

.discounts::before {
	content: "";
	position: absolute;
	top: 25px;
	right: 45px;
	width: 59px;
	height: 72px;
	background: url(../img/discounts-icon.png) no-repeat 0 0;
}


.delivery {
	position: relative;
	background-color: #ffc047;
}

.delivery::before {
	content: "";
	position: absolute;
	top: 32px;
	right: 31px;
	width: 78px;
	height: 63px;
	background: url(../img/delivery-icon.svg) no-repeat 0 0;
}


.feature-item a {
	background-color: rgba(0, 0, 0, 0.1);
}

.feature-item a:hover,
.feature-item a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.feature-item a:active {
	background-color: rgba(0, 0, 0, 0.3);
}


.container-wrapper {
	display: flex;
	flex-direction: column;
}

.items-wrapper {
	display: flex;
	margin: 0;
	padding: 0;
}



/*-------Слайдер-------*/

.slider {
	position: relative;
	box-sizing: border-box; 
	max-width: 620px;
	height: 266px;
	margin: 0;
	padding: 0;
}

.slider input[type=radio] {
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
    margin: 0;
    overflow: visible;
}

.slider-controls {
    position: absolute;
    z-index: 60;
    bottom: 14%;
    left: 45%;
    width: 60px;
    height: 10px;
    text-align: center;
}

#radio-btn-1:checked~.slider-controls label[for=radio-btn-1], 
#radio-btn-2:checked~.slider-controls label[for=radio-btn-2] {
    background: #ee3643;
}

.slider-controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 5px;
	vertical-align: top;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}

.slider .arrow-left::before {
    content: "";
    position: absolute;
    z-index: 20;
    left: 22px;
    top: 123px;
    transform: rotate(-45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer;
}

.slider .arrow-left::after, 
.slider .arrow-right::after, 
.slider .arrow-right::before {
    content: "";
    position: absolute;
    z-index: 20;
    top: 140px;
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer;
}

.slider .arrow-left::after {
    left: 22px;
    transform: rotate(45deg);
}

.slider .arrow-right::after, 
.slider .arrow-right::before {
    right: 17px;
    transform: rotate(-45deg);
}

.slider .arrow-right::after {
    top: 123px;
    transform: rotate(45deg);
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#radio-btn-1:checked~.slides .slide:nth-child(1), 
#radio-btn-2:checked~.slides .slide:nth-child(2) {
    display: block;
}

.slide:nth-child(1), 
.slide:nth-child(2) {
    background-image: url(../img/drill-slide.jpg);
    background-repeat: no-repeat;
}

.slide-text {
    margin-left: 24px;
    padding-top: 26px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
    color: #fff;
    background: 0 0;
}

.slide-title {
    margin-bottom: 4px;
    background: 0 0;
    font-size: 36px;
    line-height: 30px;
    font-weight: 700;
}

.slide .btn, 
.slide-title {
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.slide h2 {
	margin: 0;
	padding: 0;
}

.slide .btn {
    display: block;
    width: 195px;
    padding: 10px 0;
    margin-top: 122px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    background: #ee3643;
    border-radius: 3px;
}

.slide:nth-child(2) {
    background-image: url(../img/perforator-slide.jpg);
}


.btn:focus,
.btn:hover {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.items-header,
.brands-header,
.perforators {
	display: flex;
	justify-content: space-between;
	background-color: #f9f5f0;
}

.items-header h2,
.brands-header h2,
.perforators h2 {
	padding-left: 30px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 30px;
	color: #32425c;
}

.items-btn,
.brands-btn {	
	display: block;
	margin-top: 20px;
	margin-right: 24px;
	width: 253px;
	height: 38px;
	padding-left: 55px;
	padding-top: 10px;
}

.items {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	width: 100%; 
}

.catalog-item {
	position: relative;	
	box-sizing: border-box;
	width: 220px;
	min-height: 318px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}

.catalog-item:last-child {
	margin-right: 0;
}

.catalog-item h3 {
	margin-top: 25px; 
}

.catalog-item .actions{
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
}

.item-title {
	display: inline-block;
	width: 180px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;	
}

.catalog-item .title{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	min-height: 40px;
	padding: 0 25px;
	margin-bottom: 15px;    
}
.catalog-item .discount{
	display: block;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	color:#999;
	text-decoration: line-through;
}

.discount.hidden {
	visibility: hidden;
}

.catalog-item .price{
	display: inline-block;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	position: relative;
	width: 80px;
	margin:1 0px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
}

.catalog-item .price:after{
	content: "";
	position: absolute;
	top: 1px;
	right: -35px;
	width: 0;
	height: 0;
	border: 18px solid white;
	border-left-color: #ee3643;
}


.buy-btn, 
.bookmark-btn {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315; 
	background-color: #63a63e;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;    
	border-radius: 3px;
}

.buy-btn {
	color: #ffffff;
	background-color: #63a63e;
}

.catalog-item .actions {
    display:none;
}
.catalog-item:hover .actions {
    display:block;
}

.buy-btn:hover,
.buy-btn:focus {
	background-color: #5fbb2d;
}

.buy-btn:active {
	background-color: #518534;
}

.bookmark-btn {
	color: #32425c;
	background: #ffffff;
	border-bottom-color: #63a63e;
}

.bookmark-btn:hover,
.bookmark-btn:focus {
	border-color: #32425c;	
}

.bookmark-btn:active {
	color: rgba(50, 66, 92, 0.3);
	border-color: rgba(50, 66, 92, 0.3);
}

.brands {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 70px;
}

.brands-btn {
	padding-left: 70px;	
}

.brand-item {
	box-sizing: border-box;
	font-size: 0;	
	border: 1px solid #eaeaea;
	margin-right: 20px;
    margin-bottom: 20px;
}

.brand-item a {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 218px;
	min-height: 145px;  
}


.brand-item:nth-child(4n) {
	margin-right: 0px;
}

.brand-item:hover {
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.brand-item:active {
	opacity: 0.5;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.services {
	min-height: 235px;
	background-color: #f4f8f9;
	padding-bottom: 90px;
}

.service {
	margin-bottom: 55px;
}

.service h2 {
	padding-top: 60px;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.services p {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
	color: #000000;
}

.delivery-active,
.garantee,
.credit {
	display: flex;
	justify-content: flex-start;
}

.delivery-side,
.garantee-side,
.credit-side {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 300px; 
	padding-left: 81px;
	box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.3);
} 

.advantages-list {
	list-style: none;
	padding: 0;
}

.advantages-list a {
	display: block;
	box-sizing: border-box;
	width: 240px;
	min-height: 61px;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	background-color: #32425c;
	padding-left: 20px;
	padding-top: 15px;
	border-bottom: 1px solid #4e637c;
}

.active-item a {
	color: #32425c;
	background-color: #ffffff;
}

.advantages-slider h2{
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
	padding: 0;
	margin-top: 10px;
}

.delivery-side p {
	margin: 0;
}

/* Картинка-доставки*/
.delivery-active::before {
	content: "";
	display: block;
	position: absolute;
	top: 40px;
	right: 0;
	width: 468px;
	height: 261px;
	background: url(../img/delivery-feature.png) no-repeat 0 0;
}

.delivery-active {
	position: relative;
}

.garantee, 
.credit {
	position: absolute;
	display: none;
}


.credit-request {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ff5357;
}

/*---------Информация---------*/

.information {
	margin-bottom: 88px;
}

.information h2,
.perforators-about h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 30px;
	color: #000000;
}

.information .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 55px;
}

.information p,
.perforators-about p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	color: #000000;
}

.company-about p {
	margin-bottom: 20px;
}

.transportation-companies {
	margin-top: 0;
	list-style-image: url('../img/red-line.png');
	margin-bottom: 40px;
}

.transportation-companies li {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 17px;
}

.company-btn {
	display: block;
	box-sizing: border-box;
	width: 220px;
	height: 38px;
	padding: 10px 40px;
}

.lost-btn {
	display: block;
	box-sizing: border-box;
	width: 300px;
	height: 38px;
	padding: 10px 60px;
	margin-top: 41px;
}

.contacts {
	margin-right: 0;
}

/*------------ФУТЕР---------------*/
.footer-nav {
	background-color: #32425c;
	padding-bottom: 31px;
}

.footer-nav .container {
	display: flex;
	justify-content: space-between;
}

.footer-contacts {
	margin-right: 5px;
}

.footer .logo {
	display: block;	
	box-sizing: border-box;
	width: 220px;
	height: 68px;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #ffffff;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
	padding: 16px 42px;
}

.footer-contacts p {
	padding-left: 5px;
	padding-top: 10px; 
}

.footer-navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 550px;
}


.footer-nav-top,
.footer-nav-bottom {
	display: flex; 
	justify-content: flex-end;
	align-content: stretch;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-nav-top li,
.footer-nav-bottom li {
	margin: 0;
	padding: 0;
	margin-left: 30px;
}

.footer-navigation a {
	display: block;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;	
}

.footer-nav-top a {
	padding-left: 29px;
	padding-bottom: 20px;
}

.footer-nav-bottom a {
	padding-left: 30px;
	padding-top: 14px;
}


.footer-nav-top a:hover,
.footer-nav-bottom a:hover,
.footer-nav-top a:focus,
.footer-nav-bottom a:focus {
	text-decoration: underline;
}


.footer-nav-top a:active {
	opacity: 0.5;
}
.footer-contacts {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-nav-bottom a {
	color: #ffd180;
}

.footer-nav-bottom a:active {
	opacity: 0.5;
}

.footer-bottom {
	background-color: #293449;
	min-height: 109px;
}

.footer-bottom .container {
	display: flex;
	justify-content: space-between;
}

.copyright {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	padding-top: 22px;
	padding-left: 3px;
	margin-right: 64px;
}

.footer-social {
	display: flex;
	list-style: none;
	justify-content: center;	
	padding-top: 21px;
}

.social-btn {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 4px;
    background-color: #212a3a;    
	background-repeat: no-repeat;
	background-position: 50% 50%;
    border: 1px solid #212a3a;
    border-radius: 50%;
}

.vk {
	background-image: url(../img/icon-vk.svg);
}

.fb {
	background-image: url(../img/icon-fb.svg);
}

.instagram {
	background-image: url(../img/icon-insta.svg);
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
	background-color: #ee3643;
}

.feedback {
	margin-left: 40px;
}

.developers {
	margin-left: 30px;
}

.feedback h3, 
.developers h3 {
	display: block;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	margin-top: 37px;
	margin-left: 30px;
	margin-bottom: 0px;
	padding: 0;
}

.feedback a, 
.developers a {
	display: block;
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
	margin-left: 30px;
}

.feedback a:hover,
.feedback a:focus, 
.developers a:hover,
.developers a:focus {
	text-decoration: underline;
}

.feedback a:active, 
.developers a:active {
	color: #ee3643;
} 


/*-----Модальные окна-----------*/
.contact-form {
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

.contact-form input[type="text"],
.contact-form textarea[name="text"] {
	outline: 2px solid #d7dcde;
}


.contact-form input[type="text"]:focus,
.contact-form textarea[name="text"]:focus {
	outline: 2px solid #ee3643;
}

.contact-form input[type="text"]:hover,
.contact-form textarea[name="text"]:hover {
	outline: 2px solid #b5b5b5;
}


/* Элементы каталога */

.catalog-page .header {
	margin-bottom: 23px;
}

.cart.active {
	background-color: #ee3643;
}

.login-block {
	margin-left: 50px;
}

.account-btn {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 300px;
	height: 45px;
	font-size: 21px;
	font-weight: normal;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	padding: 12px 65px 14px 46px;
	cursor: pointer;
}

.account-btn::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 14px;
	width: 20px;
	height: 20px;
	background: url(../img/icon-user.png) no-repeat 0 0;
}

.account-btn::after {
	content: "";
	position: absolute;
	top: 13px;
	right: 14px;
	width: 20px;
	height: 20px;
	background: url(../img/icon-logout.png) no-repeat 0 0;
}

.account-btn:hover::before {
	background-position: 0 -92px;
}

.account-btn:hover::after {
	background-position: 0 -92px;
}


.account-btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.account {
	list-style: none;
	margin-top: 5px;
}

.account a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.account a:hover,
.account a:focus {
	color: #ee3643;
}

.account a:active {
	color: rgba(0, 0, 0, 0.3);
}

.my-orders {
	display: inline-block;
	padding-left: 19px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	font-style: normal;
	font-family: "Cuprum","Arial",sans-serif;
	color: #32425c;
	background: #f2f6f8;
}

.point {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-left: 11px;
	margin-bottom: 2px;
	background: #32425c;
	border-radius: 50px;
}

.cabinet {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum","Arial",sans-serif;
	background: #f2f6f8;
	color: #32425c;
}

.catalog-nav {
	position: relative;
	margin-bottom: 17px;
}

.catalog-nav > a {
	position: relative;
	margin-right: 38px;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans","Arial",sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}

.catalog-nav > a:first-child {
	margin-left: 17px;
}

.catalog-nav a:first-child::after, 
.catalog-nav a:first-child::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -19px;
	width: 16px;
	height: 20px;
	background: url(../img/icon-home.svg) no-repeat 0 0;
}

.catalog-nav a:first-child::after {
	top: 3px;
	left: 11px;
	background: url(../img/icon-right-small.svg) no-repeat 0 0;
}

.catalog-page::after, 
.tools-page::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 68px;
	width: 14px;
	height: 20px;
	background: url(../img/icon-right-small.svg) no-repeat 0 0;
}

.tools-page::after {
    left: 96px;
}

.perforators {
	margin-bottom: 20px;
}


.catalog-main-container {
	display: flex;
}

/*---------Фильтр--------------*/

.filter-search {
	min-width: 220px;

	min-height: 1202px;
	margin-right: 20px;
	font-size: 0;
	line-height: 0;
}

.filter h2, .range-controls {
	display: block;
    background: #f7f3ec;
    border-radius: 3px;
}

.by-price h3, .filter h2 {
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
}

.filter h2 {
	padding: 10px 0 10px 19px;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.by-price h3 {
	margin-top: 11px;
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
}

.range-controls {
	position: relative;
	height: 80px;
	margin: 14px 0 10px;
	padding: 0 30px;
	overflow: hidden;
}

.scale {
	height: 2px;
	margin-top: 39px;
	background: #d7dcde;
}

.bar {
	width: 87%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .min-toggle {
	left: 21px;
}

.range-controls .max-toggle {
	left: 161px;
}

.price-controls {
	margin-bottom: 26px;
	color: #000;
}

.price-min,
.price-max {
	width: 85px;
	padding: 8px 2px 10px 8px;
	margin: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans","Arial",sans-serif;
	text-align: center;
	background-color: #f7f3ec;
	border: none;
	border-radius: 3px;
}

.price-min + span {
	margin-left: 9px;
	font-size: 17px;
	line-height: 30px;
}

.price-max {
	margin-left: 10px;
}

.line {
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	border-bottom-width: 0;
}

.brand-list {
	margin-top: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.brand-list input[type=checkbox], 
.supply-list input[type=radio] {
    display: none;
}

.by-brand h3, 
.by-supply h3, 
.brand-list input[type=checkbox] + label {
	font-weight: 700;
	font-style: normal;
	font-size: 17px;
	line-height: 30px;
	font-family: "PT Sans","Arial",sans-serif;
	text-transform: uppercase;
}

.brand-list input[type=checkbox] + label {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 35px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #000;
	cursor: pointer;
}

.brand-list input[type=checkbox] + label::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: -4px;
    left: 0;
    background: url(../img/checkbox-off.png) no-repeat;
}

.brand-list input[type=checkbox]:checked + label::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: -4px;
    left: 0;
    background: url(../img/checkbox-on.png) no-repeat;
}

.by-brand {
	margin-bottom: 22px;
}

.supply-list {
	margin-top: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.supply-list input[type=radio] + label {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 34px;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans","Arial",sans-serif;
	text-transform: uppercase;
	color: #000;
}

.supply-list input[type=radio] + label::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: -1px;
	background: url(../img/radio-off.svg) no-repeat;
}

.supply-list input[type=radio]:checked + label::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: -4px;
    left: -2px;
    background: url(../img/radio-on.svg) no-repeat;
}

.by-supply {
	margin-bottom: 77px;
}

.btn-show {
    padding: 11px 38px 8px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

/*-----------Каталог------------------------------*/

.catalog-main {
	display: flex;
	flex-direction: column;
	width: 700px;
	min-height: 1202px;
	font-size: 0;
	line-height: 0;
}

.sorting {
	display: flex;
	align-items: center;
	font-size: 0;
	line-height: 0;
	padding: 9px 0;
	margin-top: 10px;
	margin-bottom: 20px;
    background: #f7f3ec;
    border-radius: 5px;

}

.sorting-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sorting-list, .sorting h3 {
    vertical-align: middle;
}

.sorting-list a, .sorting h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
}

.sorting h3 {
	margin: 0;
	margin-right: 139px;
    padding-left: 19px;
	color: #000000;
	background-color: #f7f3ec;
}

.sorting-list li:first-child {
	margin-right: 71px;
}

.sorting-list li:nth-child(2) {
    margin-right: 66px;
}

.sorting-list li:nth-child(3) {
    margin-right: 39px;
}

.sorting-list li:nth-child(4) {
    margin-right: 15px;
}

.sorting-list .list-item-active {
	color: #ee3643;
	border-bottom: none;
}

.sorting-list a {
    text-decoration: none;
    color: #acaaa5;
    border-bottom: 1px dashed #ee3643;
}

.sorting-list .sorting-up {
	display: inline-block;
	border: none;
	width: 15px;
	height: 15px;
	background: url(../img/sorting-sprite.png) no-repeat;
	background-position: 0 5px ;
}

.sorting-list .sorting-down {	
	display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    background: url(../img/sorting-sprite.png) no-repeat;
    background-position: -45px 5px;
    opacity: 0.3;
}

.catalog-page .catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 0 10px #aeb2ba;
}


.catalog-items {
	margin-bottom: 30px;
}

.catalog-items .items {
	margin-top: 0;
}

.paginator {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
}


.paginator .active-page {
	color: #fef5f6;
	background: #ee3643;
}

.previous {
	padding: 8px 14px 10px 16px;
	margin-right: 9px;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans","Arial",sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.next {
    padding: 10px 31px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.previous:nth-child(3) {
	margin-right: 11px;
}

/*-------О перфораторах-------*/

.perforators-about {
	margin: 0;
	padding: 68px 0 69px;
	background-color: #f2f6f8;
}

.perforators-content > h2,
.perforators-content > p {
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	color: #000;
	background: #f2f6f8;
}

.perforators-content > h2 {
	margin: 0;
	padding: 0;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Cuprum","Arial",sans-serif;
}

.perforators-content > p {
	margin: 0;
    font-size: 13px;
    font-family: "PT Sans","Arial",sans-serif;
}


.item-added {
	font-size: 30px;
	line-height: 30px;
}

.continue-btn {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	background-color: #ffffff;	
}

.catalog-main {
	display: flex;
	flex-direction: column;
}