.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden; 
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #000000;
	background-color: #ffffff;
}

.container {
  	width: 940px;
  	margin: 0 auto;
  	padding: 0 10px;
}

.btn {
	display: block;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 3px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.top-menu {
	background-color: #293449;
	height: 42px;
}

.top-menu .container {
	display: flex;
	flex-wrap: wrap;
  	width: 940px;
  	margin: 0 auto;
  	padding: 0 10px;

}

.top-menu h2 {
	margin: 0;
	padding: 0;
}

.top-menu .logo {
	display: block;	
	box-sizing: border-box;
	width: 220px;
	height: 47px;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	color: #ffffff;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
	padding: 12px 55px 6px 56px;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

/* Форма поиска*/
.search-form {
	box-sizing: border-box;
	position: relative;
	width: 270px;
	height: 42px;
	margin: 0 auto;
}
.find {
	box-sizing: border-box;
	display: block;
	border: none;
	outline: none;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
	width: 100%;
	height: 42px;
	padding-left: 50px;
	vertical-align: middle;
}
.search-btn {
	position: absolute;
	top: 12px;
	left: 17px; 
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 17px;
	height: 17px;
	border: none;
	cursor: pointer;
	background: transparent;	
	background-image: url(../img/icon-search.svg);
}
.search-btn:before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
}

.find:hover {
	background-color: #212a3a;
}

.find:focus
 {
	color: #000000;
	background-color: #ffffff;
}

.find::-webkit-input-placeholder {
    color: #ffffff;
}

.search-btn:focus::before {
	opacity: 1;
	background-color: red;
}

.shopping-items {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	width: 300px;
	height: 42px;
	margin: 0;
	padding: 0;
}

.cart,
.bookmark {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 150px;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
	vertical-align: middle;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 45px;
}

.bookmark::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-bookmark.svg);
	opacity: 0.3; 	
}

.cart::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-cart.svg);
	opacity: 0.3; 	
}

.cart:hover,
.bookmark:hover {
	background-color: #212a3a;
}


.cart:active,
.bookmark:active {
	background-color: #161d29;
	opacity: 0.6;
}

.cart:hover::before,
.bookmark:hover::before {
	opacity: 1;
}

.cart:active::before,
.bookmark:active::before {
	opacity: 0.5;
}

.order-btn {
	display: block;
	box-sizing: border-box;
	width: 150px;
	height: 42px;	
	background-color: #63a63e;
	font-size: 17px;
	line-height: 18px;
	vertical-align: middle;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	color: #ffffff;
}

.order-btn:hover,
.order-btn:focus {
	background-color: #5fbb2d;
}

.order-btn:active {
	background-color: #518534;
}

.middle-menu {
	background-color: #f3f7f8;
	padding-top: 45px;
}

.middle-menu .container {
	display: flex;
	justify-content: space-between;

}

h1 {
	display: block;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 500;
	font-style: italic;
	color: #ee3643;
	max-width: 200px;
	margin-left: 55px;
	margin-right: 60px;

}

.contacts {
	display: flex;
	flex-direction: column;
	margin-right: 70px;
}

.phone {
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 270px;
	height: 45px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;	
	border: 3px solid #ffffff;
	padding-left: 75px;
	padding-top: 12px;
}

.phone::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 19px;
	height: 19px;
	background-image: url(../img/icon-phone.svg); 
}

.adress {
	display: block;
	box-sizing: border-box;
	width: 270px;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	line-height: 24px;
	color: #32425c;
	margin-top: 10px;
}

.log-in {
	display: flex;
}

.log-in-btn {
	position: relative;
	box-sizing: border-box;
	width: 122px;
	height: 45px;
	padding: 12px 25px 12px 50px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	margin-right: 10px;
}

.log-in-btn::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-login.svg);
}

.register-btn {
	box-sizing: border-box;
	width: 150px;
	height: 45px;
	padding: 12px 25px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	margin-bottom: 55px;
}

.log-in-btn:hover,
.log-in-btn:focus,
.register-btn:hover,
.register-btn:focus {
	color: #ee3643;
}

.log-in-btn:active,
.register-btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.log-in-btn:hover::before {
	background-color: #32425c;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	width: 100%;
	height: 55px;
	background-color: #32425c;
	padding: 0;
	margin-bottom: 60px;
	border-bottom: 5px solid #293449;

}

.nav-item {
	font-size: 17px;
	line-height: 17px;
}

.nav-item:hover,
.nav-item:focus {
	background-color: #293449;
}

.nav-item:active {
	background-color: #1d2739;
}
.nav-item a {
	display: block;
	box-sizing: border-box;
	color: #ffffff;
	padding-top: 19px;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: middle;
}

.features {
	display: flex;
	margin-top: 60px;
	margin-bottom: 38px;
}

.feature-item h3 {
	margin: 0;
	padding-top: 20px;
	padding-left: 22px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #ffffff; 
}

.feature-item a {
	display: block;
	box-sizing: border-box;
	width: 135px;
	height: 38px;
	margin-left: 25px;
	margin-top: 12px;
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	border-radius: 5px;
	text-transform: uppercase;
}

.feature-item {
	width: 300px;
	min-height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.materials {
	position: relative;
	background-color: #ffbf47;
}

.materials::before {
	content: "";
	position: absolute;
	right: 43px;
	top: 31px;
	width: 44px;
	height: 65px;
	background-image: url(../img/materials-icon.svg);
}

.flag-new {
	position: absolute;
	top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.tools {
	position: relative;
	background-color: #3bbce3;
}

.tools::before {
	content: "";
	position: absolute;
	right: 28px;
	top: 32px;
	width: 75px;
	height: 61px;
	background-image: url(../img/tools-icon.svg);
}

.machinery {
	position: relative;
	background-color: #dc91d8;
}

.machinery::before {
	content: "";
	position: absolute;
	right: 30px;
	top: 30px;
	width: 78px;
	height: 62px;
	background: url(../img/machinery-icon.svg) no-repeat 0 0;
}

.discounts {
	position: relative;
	background-color: #8ed78f;
}

.discounts::before {
	content: "";
	position: absolute;
	top: 25px;
	right: 45px;
	width: 59px;
	height: 72px;
	background: url(../img/discounts-icon.png) no-repeat 0 0;
}


.delivery {
	position: relative;
	background-color: #ffc047;
}

.delivery::before {
	content: "";
	position: absolute;
	top: 32px;
	right: 31px;
	width: 78px;
	height: 63px;
	background: url(../img/delivery-icon.svg) no-repeat 0 0;
}


.feature-item a {
	background-color: rgba(0, 0, 0, 0.1);
}

.feature-item a:hover,
.feature-item a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.feature-item a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.slider {
	position: relative;
	box-sizing: border-box; 
	width: 620px;
	height: 266px;
	background-image: url(../img/drill-slider.jpg);
}

.slider h3 {
	margin: 0;
	padding-left: 24px;
	padding-top: 20px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #ffffff;	
	background-color: transparent;
	text-transform: uppercase;
}

.slider span {
	padding-left: 25px;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	color: #ffffff;
	background-color: transparent;
}

.open-catalog.btn {
	position: absolute;
	bottom: 23px;
	left: 25px;	
	width: 195px;
	height: 38px;
	padding-top: 10px;
	padding-left: 50px;
}

.back-btn,
.fwrd-btn {
	position: absolute;
	top: 113px;
	width: 22px;
	height: 40px;
	border: none;
	cursor: pointer;
}

.back-btn {
	left: 25px;
	background: url(../img/icon-left.svg) no-repeat 0 0;
}

.fwrd-btn {
	right: 20px;
	background: url(../img/icon-right.svg) no-repeat 0 0;
}

.slide-switches {
	list-style: none;
}

.slide-btn-active,
.slide-btn-empty {
	position: absolute;	
	bottom: 40px;
	background-color: #ffffff;
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.slide-btn-active {
	right: 295px;
}

.slide-btn-active::before {
	position: relative;
	display: block;
	content: "";
	left: -3px;
	width: 6px;
	height: 6px;
	background-color: #ee3643;
	border-radius: 50%;
}

.slide-btn-empty {
	left: 295px;
}
.btn:focus,
.btn:hover {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}


.items-wrapper {
	display: flex;
}

.container-wrapper {
	display: flex;
	flex-direction: column;
}

.items-header,
.brands-header {
	display: flex;
	justify-content: space-between;
	background-color: #f9f5f0;
}

.items-header h2,
.brands-header h2 {
	padding-left: 30px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 30px;
	color: #32425c;
}

.items-btn,
.brands-btn {	
	display: block;
	margin-top: 20px;
	margin-right: 24px;
	width: 253px;
	height: 38px;
	padding-left: 55px;
	padding-top: 10px;
}

.items {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	width: 100%; 
}

.catalog-item {
	position: relative;	
	box-sizing: border-box;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}

.catalog-item:last-child {
	margin-right: 0;
}

.catalog-item h3 {
	margin-top: 25px; 
}

.catalog-item .actions{
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
}

.item-title {
	display: inline-block;
	width: 180px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;	
}

.catalog-item .title{
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	min-height: 40px;
	padding: 0 25px;
	margin-bottom: 15px;    
}
.catalog-item .discount{
	display: block;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	color:#999;
	text-decoration: line-through;
}

.discount.hidden {
	visibility: hidden;
}

.catalog-item .price{
	display: inline-block;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	position: relative;
	width: 80px;
	margin:1 0px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
}

.catalog-item .price:after{
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 20px solid white;
	border-left-color: #ee3643;
}


.buy-btn, 
.bookmark-btn {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315; 
	background-color: #63a63e;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;    
	border-radius: 3px;
}

.buy-btn {
	color: #ffffff;
	background-color: #63a63e;
}

.catalog-item .actions {
    display:none;
}
.catalog-item:hover .actions {
    display:block;
}

.buy-btn:hover,
.buy-btn:focus {
	background-color: #5fbb2d;
}

.buy-btn:active {
	background-color: #518534;
}

.bookmark-btn {
	color: #32425c;
	background: #ffffff;
	border-bottom-color: #63a63e;
}

.bookmark-btn:hover,
.bookmark-btn:focus {
	border-color: #32425c;	
}

.bookmark-btn:active {
	color: rgba(50, 66, 92, 0.3);
	border-color: rgba(50, 66, 92, 0.3);
}

.brands {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 70px;
}

.brands-btn {
	padding-left: 70px;	
}

.brand-item {
	box-sizing: border-box;
	font-size: 0;	
	border: 1px solid #eaeaea;
	margin-right: 20px;
    margin-bottom: 20px;
}

.brand-item a {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 218px;
	min-height: 145px;  
}


.brand-item:nth-child(4n) {
	margin-right: 0px;
}

.brand-item:hover {
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.brand-item:active {
	opacity: 0.5;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.services {
	min-height: 235px;
	background-color: #f4f8f9;
	padding-bottom: 90px;
}

.service {
	margin-bottom: 55px;
}

.service h2 {
	padding-top: 60px;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.services p {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
	color: #000000;
}

.delivery-active,
.garantee,
.credit {
	display: flex;
	justify-content: flex-start;
}

.delivery-side,
.garantee-side,
.credit-side {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 300px; 
	padding-left: 81px;
	box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.3);
} 

.advantages-list {
	list-style: none;
	padding: 0;
}

.advantages-list a {
	display: block;
	box-sizing: border-box;
	width: 240px;
	min-height: 61px;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	background-color: #32425c;
	padding-left: 20px;
	padding-top: 15px;
	border-bottom: 1px solid #4e637c;
}

.active-item a {
	color: #32425c;
	background-color: #ffffff;
}

.advantages-slider h2{
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
	padding: 0;
	margin-top: 10px;
}

.delivery-side p {
	margin: 0;
}

/* Картинка-доставки*/
.delivery-active::before {
	content: "";
	display: block;
	position: absolute;
	top: 40px;
	right: 0;
	width: 468px;
	height: 261px;
	background: url(../img/delivery-feature.png) no-repeat 0 0;
}

.delivery-active {
	position: relative;
}

.garantee, 
.credit {
	position: absolute;
	display: none;
}


.credit-request {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ff5357;
}

.information h2,
.perforators-about h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 30px;
	color: #000000;

}

.information .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 55px;
}

.information p,
.perforators-about p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	color: #000000;
}

.company-about p {
	margin-bottom: 20px;
}

.transportation-companies {
	margin-top: 0;
	list-style-image: url('../img/red-line.png');
	margin-bottom: 40px;
}

.transportation-companies li {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 17px;
}

.company-btn {
	display: block;
	box-sizing: border-box;
	width: 220px;
	height: 38px;
	padding: 10px 40px;
}

.lost-btn {
	display: block;
	box-sizing: border-box;
	width: 300px;
	height: 38px;
	padding: 10px 60px;
	margin-top: 41px;
}

.contacts {
	margin-right: 0;
}

.footer-nav {
	background-color: #32425c;
}

.footer-nav .container {
	display: flex;
}

.footer-nav-top,
.footer-nav-bottom {
	list-style: none;
	display: flex; 
}

.footer-nav-top a,
.footer-nav-bottom a {
	font-size: 18px;
	line-height: 24px;		
}

.footer-nav-top a:hover,
.footer-nav-bottom a:hover,
.footer-nav-top a:focus,
.footer-nav-bottom a:focus {
	text-decoration: underline;
}

.footer-nav-top a {
	color: #ffffff;
}

.footer-nav-top a:active {
	opacity: 0.5;
}
.footer-contacts {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-nav-bottom a {
	color: #ffd180;
}

.footer-nav-bottom a:active {
	opacity: 0.5;
}

.footer-bottom {
	background-color: #293449;
}

.copyright {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-bottom .container {
	display: flex;
}

.footer-social {
	display: flex;
	list-style: none;
}

.social-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #212a3a;    
	background-repeat: no-repeat;
	background-position: 50% 50%;
    border: 1px solid #212a3a;
    border-radius: 50%;
}

.vk {
	background-image: url(../img/icon-vk.svg);
}

.fb {
	background-image: url(../img/icon-fb.svg);
}

.instagram {
	background-image: url(../img/icon-insta.svg);
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
	background-color: #ee3643;
}
.feedback h3, 
.developers h3 {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.feedback a, 
.developers a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.feedback a:hover,
.feedback a:focus, 
.developers a:hover,
.developers a:focus {
	text-decoration: underline;
}

.feedback a:active, 
.developers a:active {
	color: #ee3643;
} 

.contact-form {
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

.contact-form input[type="text"],
.contact-form textarea[name="text"] {
	outline: 2px solid #d7dcde;
}


.contact-form input[type="text"]:focus,
.contact-form textarea[name="text"]:focus {
	outline: 2px solid #ee3643;
}

.contact-form input[type="text"]:hover,
.contact-form textarea[name="text"]:hover {
	outline: 2px solid #b5b5b5;
}
/* Элементы каталога */
.account-btn {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.account-btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.account {
	list-style: none;
}

.account a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.account a:hover,
.account a:focus {
	color: #ee3643;
}

.account a:active {
	color: rgba(0, 0, 0, 0.3);
}


.catalog-nav {
	list-style: none;
}

.catalog-nav a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.perforators {
	background-color: #f2f6f8;
}

.perforators h2 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.filter {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px; 
	line-height: 20px; 
	color: #000000;
	text-transform: uppercase;

}

.filter h2 {
	font-size: 13px; 
	line-height: 18px;
	background-color: #f7f3ec;
}

.filter ul {
	list-style: none;
}

.power-supply input[disabled] {
	color: rgba(181, 181, 181, 0.4);
}

.btn-show {
	font-size: 13px; 
	line-height: 18px;
	text-transform: uppercase;
}

.sorting h3 {
	font-size: 13px; 
	line-height: 18px;
	color: #000000;
	background-color: #f7f3ec;
	text-transform: uppercase;
}

.sorting-list {
	list-style: none;
}

.sorting a {
	font-size: 13px; 
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #ee3643;
	text-transform: uppercase;
}

.sorting a:hover,
.sorting a:focus {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sorting a:active {
	color: #ee3643;
	border: none;
}

.pagination-list {
	list-style: none;
}

.pagination-number a,
.next-page {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 13px;
	line-height: 18px;
	color: #000000;
	border: 1px solid #e5e5e5;;
}

.current a {
	color: #ffffff;
	background-color: #ee3643;
}

.pagination-number a:focus,
.pagination-number a:hover,
.next-page:focus,
.next-page:hover {
	border-color: #bdc6ca;	
}

.pagination-number a:active,
.next-page:active {
	border-color: #ee3643;
}

.perforators-about {
	background-color: #f2f6f8;
}

.item-added {
	font-size: 30px;
	line-height: 30px;
}

.continue-btn {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	background-color: #ffffff;	
}